<main id="services">
     <h2 class="text-3xl">Nos Services</h2>
     <div class="container px-10 py-10">
          <!-- Grid for cards -->
           
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <!-- Service 1: Find A Dog Trainer -->
               <div class="card bg-base-100 image-full shadow-xl">
                    <figure>
                         <img src="https://telegra.ph/file/07fa51431b007415d952e.png" alt="Shoes" />
                    </figure>
                    <div class="card-body">
                         <h3 class="card-title">Trouvez un Dresseur de Chiens</h3>
                         <p>Connectez-vous avec des dresseurs professionnels pour éduquer et former votre chien</p>
                         <div class="card-actions justify-end">
                              <a href="/nos-dresseurs" class="btn btn-primary">En savoir plus</a>
                         </div>
                    </div>
               </div>

                <!-- Service 2: Dog Adoption -->
               <div class="card bg-base-100 image-full shadow-xl">
                    <figure>
                         <img src="https://telegra.ph/file/31cda8bef32d5d52fe70c.png" alt="Shoes" />
                    </figure>
                    <div class="card-body">
                         <h3 class="card-title">Adoption de Chiens!</h3>
                         <p>Trouvez le compagnon idéal parmi nos chiens disponibles pour adoption</p>
                         <div class="card-actions justify-end">
                              <a href="/marche-canine" class="btn btn-primary">Adopter Maintenant</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</main>